<div class="ui fixed inverted menu">
	<div class="ui container">
		<div class="header item"><i class="pencil alternate icon"></i>Blog Site</div>
		<a href="/" class="item">Home</a>
		<a href="/blogs/new" class="item">New Post</a>
	</div>
</div>